.weaponContainer{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    padding: 4px;
}

.expandTitle{
    font-size: 18px;
}

.expandTitle:hover{
    cursor: pointer;
}