.aCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-radius: 3px;
    border-width: 4px;
    border-color: #D3756B;
    padding: 5px;
    background-color: #F0997D ;
    width: 350px;
}

.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.baritem{
    display: flex;
}

.baritem:hover{
    cursor: pointer;
}

hr.solid {
    border-top: 3px solid #A75D5D
}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option:hover{
    cursor: pointer;
    color: #FFC3A1;
}