.statsPanel {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 4px;
    gap: 10px;
}

.statBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.stat{
    display: flex;
    flex-direction: column;
    align-content: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 4px;
}

.vitalsBar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.hp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: inherit;
}

.hpbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 20;
    width: 100%;
}

.ac{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 25px;
}

button{
    background-color: inherit;
    border-style: none;
    color: inherit;
}

button:hover{
    color: #FFC3A1;
}