@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

h1{
  font-family: 'Noto Serif', serif;
  color: #F0997D;
}

.App{
  text-align: center;
  background-color: #A75D5D;
}

.App-link {
  color: #61dafb;
}
