@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/shield.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/heart.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/add.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/remove.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/awards.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/girl.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/dice-3.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/crown.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/smile-no-mouth.css');

h1{
  font-family: 'Noto Serif', serif;
  color: #A75D5D;
}

body{
  font-family: 'Fira Sans', sans-serif;
  color: #894c4c;
  background-color: #FFC3A1;
}

a {
  color: #a16363;
}

a:hover{
  color: #D3756B;
}

.hoverable:hover{
  cursor: pointer;
  color: #D3756B;
}

.headerContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerImage{
  filter: invert(71%) sepia(14%) saturate(900%) hue-rotate(330deg) brightness(104%) contrast(110%);
  height: 50%;
  width: 50%;
}

.subtitle {
  font-family: 'Courgette', cursive;
}

.App{
  text-align: center;
  background-color: #FFC3A1;
}

.App-link {
  color: #61dafb;
}
